<!DOCTYPE html>
<html>
<body>

<div ng-app="teamApp" ng-controller="teamController">
    <div class="container-fluid border border-gray"></div>
    <div class="container-fluid bg-gray teams">
        <div class="container">

            <div class="row">
                <div class="col-md-offset-0 pd-5">
                    <h1 id="teams" class="text-shadow huge">Knockathon Teams</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-0 pd-5 tk-anisette-petite">
                    <p>
                        Here are the current status of teams participating in Knockathon.
                    </p>

                    <!--<p>
                        <a href="#register-now">Register now</a>, you may not have slots in the teams as they are
                        limited to 3-5 per team.
                    </p> -->
                </div>
            </div>
           <div class="row">
           <ol>
                <li>ETC… - Ekta Tiwari, Eshu Goal, Shubham Saxena, Neha Shivhare,Pranav Chaudhary</li>
                <li>Team Synergy - Sunil Kumar, Kiran Kumar P, Neeraj Kumar Singh, Rakesh Giri,Amit Kumar Katiyar</li>
                <li>God$Eye - Aayush Thakur,Anuj Singhal,Gaurav Upadhyay,Kaushik Pathak,Shubhrita Tiwari</li>
                <li>Blitz- Akshay Chaturvedi, Dhruv Pal Singh, Piyush Chugh, Rahul Kumar, Shivang Mishra</li>
                <li>Autobots - Sambhav Dubey, Vishal Gupta, Sidharth Verma</li>
                <li>BotsMafia - Akash Kool,  Hariom Vashisth, Prateek Grover, Subodh Kumar Yadav</li>
                <li>Gradient Boosters - Chandrashekhar Kandpal, Krishnendu Sekhar Kar, Shwet Kamal Mishra, Zafarullah Mahmood</li>
                <li>Techverse - Syed Abbas, Mridul Srivastava, Amit Katiyar, Abhinav Singh, Abhishek Singh</li>
            </ol>
           </div>
        
        </div>
    </div>

</div>

<script>
    var app = angular.module('teamApp', []);


    app.controller('teamController', function ($scope, $http) {
        $http.get("https://teams.tryexzeo.com/knockathon/teams")
                .success(function (response) {
                    $scope.teams = response;
                })
    });

    app.filter('titleCase', function () {
        return function (input) {
            input = input || '';
            return input.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
            });
        };
    });

    app.filter('unique', function () {
        return function (collection, keyname) {
            var output = [],
                    keys = [];
            angular.forEach(collection, function (item) {
                var key = item[keyname];
                if (keys.indexOf(key) === -1) {
                    keys.push(key);
                    output.push(item);
                }
            });
            return output;
        };
    });
</script>

</body>
</html>
