<!--<div class="container-fluid border border-red"></div>
<div class="container-fluid theme bg-red">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0 pd-5">
                <h1 id="themes" class="text-shadow huge">Knockathon Theme</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 tk-anisette-petite list text-center theme-block">

                <div class="theme-title text-shadow">
                    Open Data And Rural India
                </div>

                <p class="theme-tagline text-shadow">
                    Use Open Data And Technology Help Rural India To Flourish
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-5 col-md-offset-0 tk-anisette-petite list">
                <div class="row text-center">
                    <h3>Problem</h3>
                </div>
                <div class="row" style="text-align: justify;">
                    Due to the technological advancement we have every data we need to perceive a knowledge. This
                    data is there with every urban Indian. <i>Like you and me</i>. But we are disconnected from rural
                    India. How this data can be turned as a knowledge to every rural Indian?
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 tk-anisette-petite list">
                <div class="row text-center">
                    <h3>Solution</h3>
                </div>
                <div class="row">
                    Our government participates in <a href="https://en.wikipedia.org/wiki/Open_Government_Initiative"
                                                      target="_blank">Open
                        Government Initiative</a> and in advent of that we are able to
                    aggregate most of the government sector data in <a href="https://data.gov.in" target="_blank">data.gov.in</a>
                    portal. This data is provided for free
                    and almost covers <a href="https://data.gov.in/sectors" target="_blank">every sector in India</a>.

                    <p class="mt-15">
                        Use this data along with various APIs available today and develop an idea/solution that would
                        solve some of the rural India's problem.
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 tk-anisette-petite list">
                <div class="row">
                    <h3>Give me some inspiration ..</h3>
                </div>
                <div class="row list" style="text-align: justify;">
                    There are tons of possibilities with this data (and you don't need to confine with data.gov.in, find
                    any free and open data). Here are some cool ideas to get some inspiration (and these ideas are out,
                    so you can't use them) &ndash;
                    <ul class="simple-list">
                        <li>Develop an app that tells veg. prices to farmers across the <a href="http://bit.ly/1EZCryQ"
                                                                                           target="_blank">market
                                centers in India</a>. This
                            information will provide knowledge about current pricing trend when they negotiate with
                            brokers.
                        </li>
                        <li>Provide an app and web application that connects state government and rural indian to ask
                            for a <a href="http://bit.ly/1EZCJ90" target="_blank">facility such as hospitals, libraries
                                etc.,</a> using a visual map.
                        </li>
                        <li>
                            Build an app to upvote or downvote their <a href="http://bit.ly/1EZCD15" target="_blank">Sarpanch/MP/MLA</a>
                            based on their performance.
                        </li>
                    </ul>
                    Hope this gets you started ..<br/><br/><br/>
                </div>
            </div>

            <div class="col-md-12 col-md-offset-0 tk-anisette-petite list boxed">
                <div class="row">
                    <h3>Rules and Conditions</h3>
                </div>
                <div class="row list" style="text-align: justify;">
                    <ul class="simple-list">
                        <li>Any application that does not cover "Open Data" and "Rural India" theme will not be
                            accepted. Make sure the application does some help to "Rural India".
                        </li>
                        <li>Using Exzeo API / Exzeo Application will give you bonus points.</li>
                        <li>If multiple teams are working on the same idea, both ideas will be rejected so make use of
                            checkpoints and ensure none of the other teams are exactly copying your idea. Don't openly
                            discuss your ideas with members of other teams.
                        </li>
                        <li>These are mandatory in each checkpoint &ndash;
                            <ul>
                                <li>Checkpoint #1: You should participate in <a href="##schedule-timelines">Idea Mockup
                                        Presentation</a> to present your idea. You can use white paper or white board,
                                    if needed. Failing this would give you first warning.
                                </li>
                                <li>Checkpoint #2: <a href="##schedule-timelines">Concept Presentation</a> should be at
                                    least "final draft" of
                                    your PPT or slides. The Hustler should present the idea. Failing this would
                                    eliminate you from Knockathon.
                                </li>
                            </ul>
                        </li>
                        <li>
                            The application should be transactional in the sense that user is interacting with the
                            application in some means to A) add, explore and retrieve data B) they are efficient in
                            their life
                            due to your application. Most importantly, usage of advanced technologies, not limited to
                            this list, such as voice
                            detection, localization, maps, <a
                                    href="http://blog.mashape.com/list-of-50-machine-learning-apis/" target="_blank">machine
                                learning
                                apis</a>, <a
                                    href="http://blog.mashape.com/list-of-25-natural-language-processing-apis/">natural
                                language processing</a>, <a
                                    href="http://blog.mashape.com/list-of-10-face-detection-recognition-apis/">facial
                                recognition</a> is <strong>must</strong>. Keep in mind, we are not college kids. We know
                            technology very well so make sure you develop something the will attract your audience and
                            panelists.
                        </li>
                        <li>Final Demo &ndash;
                            <ul>
                                <li>The running application should be presented by the whole team, no mockups are
                                    accepted. Even if one team member is not available during the final demo whole team
                                    will be rejected from participation.
                                </li>
                                <li>
                                    You should disclose any bugs or known issues in the beginning of the presentation.
                                    If any "eye-catchy" bugs are found during your demo, audience and panelist will keep
                                    a note. A fiasco during the demo is assumed as a "no-show".
                                </li>
                                <li>You should have PPT or Slides to walk through the problem statement, solution
                                    and who are your intended audience and also you need to justify why such application
                                    is
                                    necessary for rural India.
                                </li>
                                <li>
                                    Each team has exactly 15 minutes to present their app and answer questions
                                    from audience. We will be running a timer and as soon as it beeps we will pull
                                    the projector off. So make sure you prepare a speech for yourself.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->


<!--

                    <li>
                    </li>
                    <li>
                        This data is provided for free and almost covers every sector in India.
                    </li>

        <div id="time-div" class="row text-center">
            <div class="clock"></div>
            <p class="tk-acuta" id="timer-message"></p>
        </div>

-->